<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{laChaudiere.nomClient}}</h3>
        <p class="card-text">Numéro série: {{laChaudiere.id}}</p>
        <p class="card-text">Adresse: {{laChaudiere.adresseClient}}</p>
        <p class="card-text">Marque: {{laChaudiere.marque}}</p>
        <p class="card-text">Modèle: {{laChaudiere.modele}}</p>
        <p class="card-text">Date mise en service: {{laChaudiere.dateMiseService | date: "dd/MM/yyyy à HH:mm:ss"}}</p>
        <div *ngIf="id === undefined" class="card-footer">
            <div *ngIf="interventions.length >= 1; else noInterventions">
                <a routerLink="/chaudiere/{{laChaudiere.id}}">
                    Voir le détail
                </a>
            </div>
            <ng-template #noInterventions>
                <p class="text-center">Aucune intervention pour le moment.</p>
            </ng-template>
        </div>
    </div>
</div>
